/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');  

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    font-weight:900;
    overflow-x: hidden;
}
/* nav */
nav{
    /* border: 1px solid red; */
    position: fixed;
    top: 0;
    z-index: 200;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition:0.5s ease;
    transform: translateY(-100%);
}

nav .navlinks{
    display: flex;
    position: absolute;
    width: 80%;
    z-index: 2;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(52, 35, 4);
}
.logo{
    font-style: italic;
}
.logo::after{
    content: attr(text);
    position: absolute;
    color:transparent;
    -webkit-text-stroke:  0.009vw wheat;
}
nav .navlinks :nth-child(1){
    width: auto;
}
nav .navlinks :nth-child(2){
    width: 50%;
    justify-content: space-evenly;
}
nav .navlinks :nth-child(2) a{
    width: auto;
    color: rgb(52, 35, 4);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
}
nav .navlinks :nth-child(3){
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}
nav .navlinks :nth-child(3) i{
    width: auto;
    cursor: pointer;
}
nav .navlinks .navTabs{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
/* header css */
header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5em;
    overflow: hidden;
    transition: 0.7s ease-in;
    z-index: 200;
    background-color: white;
    font-style: italic;
}
header .text{
    position: relative;
    /* border: 1px solid orange; */
    width: 100%;
    padding: 0 5%;
    text-align: center;
}
header .text :nth-child(1){
    transform: translateX(-100%);
    
}
header .text :nth-child(2){
    transform: translateX(100%);

}
header .text h1{
    width: 100%;
    transition: 0.7s ease-in;
}
header .images{
    width: 100%;
    height: 25%;
    background: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    transition: 0.8s ease-in;
}
.top{
    top: 0;
    transform: translateY(-150%);
}
.bottom{
    bottom: 0;
    flex-direction: row-reverse;
    transform: translateY(150%);
}
header .top :nth-child(odd){
    top: 30%;
    animation: bounce 5s ease-in-out infinite;
}
header .top :nth-child(even){
    animation: bouncer 4s ease-in-out infinite;
}
header .bottom :nth-child(even){
    top: -30%;
    animation: bouncer 4s ease-in-out infinite;
}
header .bottom :nth-child(odd){
    animation: bounce 3s ease-in-out infinite;
}
header .images span{
    position: relative;
    width: 10%;
    height: 100%;
    /* padding: 1%; */
}
header .images span img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    top: 0;
}
@keyframes bounce {
    0%,100%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(5%);
    }
}
@keyframes bouncer {
    0%,100%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-10%);
    }
}

/* main css */
main{
    position: absolute;
    top:0;
    /* border: 5px solid #ff0000; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    z-index: 190;
    font-style: italic;

    transition: 1s linear;
}
main :is(.parallax-text1, .parallax-text2){
    position: absolute;
    transition: 0.5s ease;
}
main .parallax-text1{
    color: black;
    font-size: 15vw;
    padding: 0 25%;
    text-align: center;
    /* border: 1px solid blue; */
    transform: translateX(-100%);
}
main .parallax-text2{
    font-size: 15vw;
    padding: 0 25%;
    text-align: center;
    z-index: 100;
    /* border: 5px solid gold; */
    color: transparent;
    -webkit-text-stroke: 0.15vw black;
    transform: translateX(100%);
}
main img{
    width: 40%;
    height: 60%;
    object-fit: contain;
    object-position: center;
    /* animation: sneaker 2.5s ease-in infinite; */
    filter: drop-shadow(0px 0px 20px #999999);
    transform: translateY(100%);
    /* border: 1px solid red; */
    transition: 0.5s ease-in;
}
@keyframes sneaker {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(25deg);
    }
}

/* section */
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: white;
    /* background: linear-gradient(to top left, #333 55%, gold 45%); */
}
section aside{
    position: absolute;
    /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
section aside img{
    width: 0%;
    height: 0%;
    object-fit: contain;
    object-position: center;
    background-color: transparent;
    filter: drop-shadow(0 0 10px black);
    animation: sneakeroo 5s ease-in-out infinite;
    transition: 0.7s ease-in;
}
section .side{
    position: absolute;
    top:0; 
    right: 0;
    width: 50%;
    height: 100%;
    /* border: 1px solid green; */
    background-color: transparent;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
section .topColor{
    z-index: 6;
    transform: translateX(100%);
    transition: 0.6s ease-in;
}
section .bottomColor{
    z-index:4;
    /* border: 1px solid red; */
}
section .bottomColor .circle{
    position: absolute;
    width: 90%;
    height: 90%;
    /* border: 1px solid brown; */
    border-radius: 50%;
    transform: translate(135%, 100%);
    background: rgb(52, 35, 4, 0.5);
    transition: 0.7s ease-in;
}
section .bottomColor .square{
    position: absolute;
    width: 0%;
    height: 25%;
    /* border: 1px solid brown; */
    transform: translate(215%, 165%);
    transition: 1s ease-in;
    border-bottom: 5px solid wheat;
    border-right: 5px solid wheat;
    opacity: 0;
    overflow: hidden;
    display: grid;
    grid-template-rows: 20% 20% 20%;
}
section .bottomColor .square a{
    position: absolute;
    width: 100%;
    text-decoration: none;
    color: rgb(52, 35, 4);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 0.8em;
    font-weight: 600;
    font-style: italic;
    padding-right: 5%;
}
section .bottomColor .square :nth-child(1){
    bottom:65%;
}
section .bottomColor .square :nth-child(2){
    bottom:45%;
}
section .bottomColor .square :nth-child(3){
    bottom:25%;
}
section .bottomColor .square a i{
    margin-right: 10px;
}
section .centerColor{
    /* top: 0; */
    left: 0;
    background-color: wheat;
    font-size: 4em;
    z-index:4;
}
.nike{
    opacity: 0.35;
    position: absolute;
    left: 48%;
    top:-13%;
    transform: rotate(-10deg);
}
.adidas{
    opacity: 0.35;
    position: absolute;
    width: 15%;
    height: 15%;
    left: 25%;
    top: 35%;
}
.puma{
    opacity: 0.35;
    position: absolute;
    width: 20%;
    height: 20%;
    left: 15%;
    bottom: 4%;
    /* transform: rotate(-90deg); */
}
section .centerColor video{
    width: 100%;
    height:100%;
    object-fit: cover;
    /* object-position: center; */
    /* opacity: 0.3; */
}
section .bottomColor span{
    font-size: 2em;
    margin-top: 20%;
    /* border: 5px solid red; */
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0  25%;
    transform: translateX(-100%);
    transition: 0.6s ease-in;
}
section .topColor span{
    font-size: 2em;
    margin-top: 20%;
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:transparent;
    -webkit-text-stroke: 0.1vw white;
    padding: 0 25%;
}

section .topColor .para{
    position: absolute;
    top: 25%;
    right:0;
    /* border:1px solid red; */
    width:100%;
    height:30%;
    padding: 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
section .topColor .para p{
    text-align: center;
    font-weight: 500;
    font-size: 1em;
}
section .topColor .para p button{
    margin-top: 10%;
    color: rgb(52, 35, 4);
    background-color: white;
    box-shadow: 0 0 3px rgb(52, 35, 4);
    padding:3% 10%;
    border: none;
    transition: 0.1s ease-in;
    cursor: pointer;
}
section .topColor .para p button:hover{
    padding:3.5% 10.5%;
    box-shadow:0 0 3px rgb(52, 35, 4), -5px 5px 1px 1px wheat,  -10px 10px 1px 1px rgb(64, 44, 7), -15px 15px 1px 1px #333;
    animation: sneakerool 2s ease-in-out infinite;
}
/* section .side{
    position: absolute;
    height: 50%;
    width: 100%;
    z-index:2;
}
section .topColor{
    top: 0;
    background-color: rgb(122, 7, 7);
}
section .bottomColor{
    bottom: 0;
    background-color: #312f2f;
} 
*/
@keyframes sneakeroo {
    0%, 100%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-5deg);
    }
}
@keyframes sneakerool{
    0%{
        transform: translateY(0%);
    }
    20%{
        transform: translateY(5%);
    }
    40%{
        transform: translateY(-3%);
    }
    60%{
        transform: translateY(3%);
    }
    80%{
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(0%);
    }
}


.section{
    height: 100vh;
    width:100%;
    /* border: 1px solid red; */
    background: wheat;
    position: relative;
}

#section1{
    background-color: rgb(52, 35, 4, 0.5);
    display: flex;
}
#section1 .part{
    position: relative;
    /* border:1px solid #333; */
    width: 50%;
    height: 100%;
}
#section1 .partB{
    background: url(/assets/nikeBG.jpg);
    /* background-color:  black; */
    background-repeat: none;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section1 .partA .sect{
    /* border: 1px solid red; */
    position: relative;
    display: flex;
}
#section1 .partA .sect1{
    height: 65%;
}
#section1 .partA .sect2{
    height: 35%;
    background:white;
}
#section1 .partA .sect1 .cut{
    position: relative;
    /* border: 1px solid teal; */
    width: 50%;
    height: 100%;
}
#section1 .partA .sect1 .cut2{
    background-color: rgb(52, 35, 4, 0.7);
    color: white;
}
#section1 .partA .sect1 .cut2 .title{
    position: absolute;
    bottom: 10%;
    /* border: 1px solid orange; */
    width: 100%;
    padding: 0 10%;
    
}
#section1 .partA .sect1 .cut2 .title h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 5em;
    text-align: center;
}
#section1 .partA .sect1 .cut2 .title p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
}


#section1 .partB .deets{
    position: relative;
    font-family: 'Cinzel Decorative', cursive;
    /* border: 1px solid red; */
    display: block;
    justify-content: center;
}
#section1 .partB .deets h1{
    -webkit-text-stroke: 0.1vw white;
    color: transparent;
    font-size: 20em;
}
#section1 .partB .deets button{
    position: absolute;
    justify-self: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    width: 30%;
    height: 10%;
    letter-spacing: 7px;
    text-align: center;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}